{% extends "base.html" %}
{% block title%} welcom screen {% endblock %}
{% block content %}
	<div class="container">
	 	<div class="col-md-4 offset-4">
	 		<div class="vh-100 d-flex align-items-center justify-content-center">
	 			<div class="vw-100">
			    <h5 class="mb-4">Forgot your Password</h5> 		
			    <form method="POST" action="{{ url_for('forgot_password') }}">
			    	<div class="mb-3">
			    		 <label class="mb-1">Email</label>
			    		 <input type="text" name="email" class="form-control">
			    	</div>
			    	<div class="mb-3">
			    		<input type="submit" name="forgot_password" value="Submit" class="btn btn-primary px-3 full_with">
			    	</div>
			    </form>
			    <a href="{{url_for('login')}}" class="d-flex align-items-center justify-content-center"> Sign in</a></p>
	 			</div>
	 		</div>
	 	</div>
	</div>
{% endblock %}